﻿@model Buddies.Models.CreateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Maak een nieuw account aan.</h4>
    @Html.ValidationSummary()
    <p>
        @Html.TextBoxFor(m => m.UserID, new { style = "display: none;" })
    </p>

    <p>
        @Html.LabelFor(m => m.UserName, new { @class = "labels" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "inputs" })
    </p>
    

    <p>
        <div class="labels">Geboortedatum<br /></div>
        @Html.DropDownListFor(m => m.Dagen, Model.Dagen, new { @class = "inputs" })
        @Html.DropDownListFor(m => m.Maanden, Model.Maanden, new { @class = "inputs" })
        @Html.DropDownListFor(m => m.Jaren, Model.Jaren, new { @class = "inputs" })
    </p>


    <p>
        @Html.LabelFor(m => m.Geslacht, new { @class = "labels" })
        @Html.DropDownListFor(m => m.Geslacht, Model.Geslacht, new { @class = "inputs" })
    </p>

    <p>
        @Html.LabelFor(m => m.BurgerlijkeStaat, new { @class = "labels" })
        @Html.DropDownListFor(m => m.BurgerlijkeStaat, Model.BurgerlijkeStaat, new { @class = "inputs" })
    </p>

    <p>
        @Html.LabelFor(m => m.Landen, new { @class = "labels" })
        @Html.DropDownListFor(m => m.Landen, Model.Landen, new { @class = "inputs" })
    </p>

    <p>
        @Html.LabelFor(m => m.StudieNiveau, new { @class = "labels" })
        @Html.DropDownListFor(m => m.StudieNiveau, Model.StudieNiveau, new { @class = "inputs" })
    </p>

    <p>
        @Html.LabelFor(m => m.Beroep, new { @class = "labels" })
        @Html.TextBoxFor(m => m.Beroep, new { @class = "inputs" })
    </p>

    <p>
        @Html.LabelFor(m => m.Sterrenbeeld, new { @class = "labels" })
        @Html.DropDownListFor(m => m.Sterrenbeeld, Model.Sterrenbeeld, new { @class = "inputs" })
    </p>

    <p>
        @Html.LabelFor(m => m.Grootte, new { @class = "labels" })
        @Html.TextBoxFor(m => m.Grootte, new { @class = "inputs" })
    </p>

    <p>
        @Html.LabelFor(m => m.Gewicht, new { @class = "labels" })
        @Html.TextBoxFor(m => m.Gewicht, new { @class = "inputs" })
    </p>

    <p>
        @Html.LabelFor(m => m.Hobbys, new {@class = "labels"})
        @Html.TextBoxFor(m => m.Hobbys, new {@class = "inputs"})
    </p>

    <div class="form-group">
        <input type="submit" class="button" value="Registreer mij!" />
    </div>
}