﻿@using Buddies.Models
@model Buddies.Models.ProfileViewModel

@{
    ViewBag.Title = "Profieldetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <td>@Html.LabelFor(model => model.UserName, "Gebruikersnaam", new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.UserName)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.Land, "Land", new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.Land)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.Geslacht, "Geslacht", new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.Geslacht)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.GeboorteDatum, "Geboortedatum", new {@class = "bold"}):</td>
        <td class="rightCell">@String.Format("{0}", Model.GeboorteDatum.ToString("dd/MM/yyyy"))</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.Sterrenbeeld, "Sterrenbeeld", new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.Sterrenbeeld)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.Beroep, "Beroep", new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.Beroep)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.BurgerlijkeStaat, "Burgerlijke staat", new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.BurgerlijkeStaat)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.StudieNiveau, "Studieniveau", new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.StudieNiveau)</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.Grootte, new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.Grootte) cm</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.Gewicht, "Gewicht", new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.Gewicht) kg</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.Hobbys, "Hobbies", new {@class = "bold"}):</td>
        <td class="rightCell">@Html.DisplayFor(model => model.Hobbys)</td>
    </tr>
</table>

@if (User.IsInRole("Admin"))
{
    <h3>Activatie</h3>

    using( Html.BeginForm("ToggleActivation", "Administration", FormMethod.Post))
    {
        <input type="hidden" name="userID" value="@Model.UserID"/>
        <p class="topmargin">
            @if (@Model.IsActief == true)
            {
                <input type="submit" class="button" value="Profiel deactiveren" />
            }
            else
            {
                <input type="submit" class="button" value="Profiel activeren" />
            }
        </p>
        
    }
}
