﻿@model Buddies.Models.UpdateProfileViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

    <h4>Pas uw profiel aan.</h4>

<form action="Edit" method="post" >

    <p>
        <input type="hidden" name="userID" value="@Model.UserID" />
    </p>

    <p>
        Username: <br />
        <input type="text" name="UserName" value="@Model.UserName" class="inputs">
    </p>

    <p>
        Geboortedatum: <br />
        <select name="Dagen" class="inputs">
            @foreach (var item in @Model.Dagen)
            {
                String IsSelected = "";

                if (item.Selected)
                {
                    IsSelected = "selected";
                }


                <option value="@item.Value" @IsSelected>@item.Text</option>
            }
        </select>

        <select name="Maanden" class="inputs">
            @foreach (var item in @Model.Maanden)
            {
                String IsSelected = "";

                if (item.Selected)
                {
                    IsSelected = "selected";
                }


                <option value="@item.Value" @IsSelected>@item.Text</option>
            }
        </select>

        <select name="Jaren" class="inputs">
            @foreach (var item in @Model.Jaren)
            {
                String IsSelected = "";

                if (item.Selected)
                {
                    IsSelected = "selected";
                }


                <option value="@item.Value" @IsSelected>@item.Text</option>
            }
        </select>
    </p>

    <p>
        Geslacht: <br />
        <select name="Geslacht" class="inputs">
            @foreach (var item in @Model.Geslacht)
            {
                String IsSelected = "";

                if (item.Selected)
                {
                    IsSelected = "selected";
                }


                <option value="@item.Value" @IsSelected>@item.Text</option>
            }
        </select>
    </p>

    <p>
        Burgerlijke staat: <br />
        <select name="BurgerlijkeStaat" class="inputs">
            @foreach (var item in @Model.BurgerlijkeStaat)
            {
                String IsSelected = "";

                if (item.Selected)
                {
                    IsSelected = "selected";
                }


                <option value="@item.Value" @IsSelected>@item.Text</option>
            }
        </select>

    </p>

    <p>
        Land: <br />
        <select name="Land" class="inputs">
            @foreach (var item in @Model.Landen)
            {
                String IsSelected = "";

                if (item.Selected)
                {
                    IsSelected = "selected";
                }


                <option value="@item.Value" @IsSelected>@item.Text</option>
            }
        </select>
    </p>

    <p>
        Studieniveau: <br />
        <select name="Studieniveau" class="inputs">
            @foreach (var item in @Model.StudieNiveau)
            {
                String IsSelected = "";

                if (item.Selected)
                {
                    IsSelected = "selected";
                }


                <option value="@item.Value" @IsSelected>@item.Text</option>
            }
        </select>
    </p>

    <p>
        Beroep: <br />
        <input type="text" name="Beroep" value="@Model.Beroep" class="inputs">
    </p>

    <p>
        Sterrenbeeld: <br />
        <select name="Sterrenbeeld" class="inputs">
            @foreach (var item in @Model.Sterrenbeeld)
            {
                String IsSelected = "";

                if (item.Selected)
                {
                    IsSelected = "selected";
                }


                <option value="@item.Value" @IsSelected>@item.Text</option>
            }
        </select>
    </p>

    <p>
        Grootte: <br />
        <input type="text" name="Grootte" value="@Model.Grootte" class="inputs">
    </p>

    <p>
        Gewicht: <br />
        <input type="text" name="Gewicht" value="@Model.Gewicht" class="inputs">
    </p>

    <p>
        Hobbies: <br />
        <input type="text" name="Hobbies" value="@Model.Hobbys" class="inputs">
    </p>

    <div class="form-group">
        <input type="submit" class="button" value="Update profiel!" />
    </div>
</form>
