﻿@using Buddies.Models
@using GridMvc.Html
@model Buddies.Models.SearchViewModel

@{
    ViewBag.Title = "Beheersconsole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Onderstaande lijst geeft een overzicht van alle profielen die zich bevinden in Buddies.<br/>
    Na iedere naam staat een link waarmee u het gewenste profiel kan bekijken. Via de profieldetails kan het gewenste profiel gedeactiveerd worden.
</p>
@Html.Grid(Model.Profiles).Columns(cols =>
    {
        cols.Add(c => c.UserName).Titled("Gebruikersnaam");
        cols.Add(c => c.Land).Titled("Land van herkomst");
        cols.Add()
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(c => @Html.ActionLink("bekijk profiel", "Details", "Profile", new { id = c.UserID }, null));
    }).WithPaging(10)

