﻿
@{
    ViewBag.Title = "Berichtgeving";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>@ViewBag.Message</p>
<p>
    <a id="backLink" href="#">Terug naar het overzicht</a>
</p>

