﻿@{
    ViewBag.Title = "Veelgestelde vragen";
}
<h1>@ViewBag.Title.</h1>
<p>Een beetje uitleg over wat je kan verwachten van Buddies, dat is wat ook jij nodig hebt!</p>
<h2>Online zonder zorgen</h2>
<p>
    Jezelf abonneren op Buddies is compleet <b>veilig</b> en Buddies <b>respecteert je privacy</b>.<br>
    Deze belofte houdt in dat:
</p>
<ul>
    <li>Niemand inzage heeft in jouw persoonlijke gegevens.</li>
    <li>Jouw persoonlijke gegevens nooit zullen worden verkocht aan derden.</li>
    <li>Betalingen gebeuren via een versleutelde verbinding.</li>
    <li>Alleen jouw profiel bekeken kan worden door andere abonnee's van Buddies.</li>
</ul>
<h2>Abonnementen</h2>
<p>Jezelf abonneren op Buddies is heel erg <b>makkelijk en flexibel</b>. Dit moet je weten wanneer je abonnee wilt worden:</p>
<ul>
    <li>Buddies kost 1 euro per maand door middel van een jaarlijkse betaling van 12 euro..</li>
    <li>Betalen van Buddies gebeurt via online overschrijving.</li>
    <li>Je kan op elk moment jouw Buddies abonnement stopzetten, het overige abonnementsgeld word binnen de 14 dagen op uw rekening gestort.</li>
</ul>
<h2>Selfie wedstrijd</h2>

<p>Elke maand kan je een uitstap winnen om samen met je buddies te doen, volledig op onze kosten. Ben je abonnee dan kan je meedoen door een originele selfie te posten op Instagram. Buddies kiest er elke maand de leukste uit en de winnaar mag met al zijn buddies van een leuke avond genieten, op onze kosten!</p>
@Html.ActionLink("Ja, ik wil een Buddie worden!", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "button", id = "registerLink" })

