﻿@{
    ViewBag.Title = "Contacteer ons";
}
<h2>@ViewBag.Title.</h2>
<p>
    Heeft u een vraag, een opmerking of probleem? Aarzel dan niet en gebruik 1 van onderstaande mogelijkheden om Buddies te benaderen. We verbinden er ons toe om u binnen de 24 uur te voorzien van een sluitend antwoord. 
</p>
<p>
    Buddies kijkt er naar uit u verder te helpen en ervoor te zorgen dat ook u het op Buddies fijn vertoeven vindt.
</p>

<h3>Traditionele weg</h3>

<address>
    <p>Buddies BVBA</p>
    Buddieslaan 69<br />
    6666 Vriendenstad, Tomorrowland<br />
    <abbr title="Phone">P:</abbr>
    014 00 11 22
</address>

<h3>Via e-mail</h3>
<p>
    Voor al jouw problemen in verband met de Buddies service kan u een beroep doen om de ondersteuningsafdeling. Heeft u een vraag over adverteren of samenwerken met Buddies neem dan contact op met onze marketingafdeling.
</p>
<address>
    <strong>Ondersteuning:</strong>   <a href="mailto:support@Buddies.be">Contacteer de Buddies ondersteuningsafdeling.</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@Buddies.be">Contacteer de Buddies marketingafdeling.</a>
</address>

<h3>Via sociale media</h3>
<p>
    Vragen worden ook steeds beantwoord op sociale media. Zo hebben we een account op de volgende media:
</p>
<address>
    <a href="#">Twitter</a><br/>
    <a href="#">Facebook</a><br />
    <a href="#">Google+</a><br />
</address>