﻿@{
    ViewBag.Title = "Home Page";
}

<h1>Welkom bij Buddies!</h1>
<p>
    Voel ook jij je soms alleen op deze wereld? Of heb je nood aan sociale contacten? Door deze veeleisende maatschappij
    zitten er veel mensen in jouw situatie. Net daarom is het zo belangrijk voor jou om je aan te melden bij de tofste community
    van het hele net.
</p>
<p>
    Via deze website kom je in contact met de tofste mensen. Vind gelijkgezinden, nieuwe vrienden en nog veel meer.
    Buddies is zoveel meer dan een site om een nieuwe partner te vinden, bij Buddies vindt je meer dan dat!
</p>
<p>
    Doe elke maand mee met onze selfiewedstrijd en win een avond plezier met je Buddies!!!
</p>
<p>
    <img src="http://startupdope.com/wp-content/uploads/2014/12/friends1.jpg" />
</p>