﻿@using Microsoft.AspNet.Identity
@model Buddies.Models.ManageUserViewModel

<p>Je bent aangemeld als <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Jouw wachtwoord wijzigen</h4>

    @Html.ValidationSummary()
    <p>
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })<br/>
        @Html.PasswordFor(m => m.OldPassword, new { @class = "inputs" })
    </p>
    <p>
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })<br/>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "inputs" })
    </p>
    <p>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })<br/>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputs" })
    </p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wachtwoord wijzigen" class="button" />
        </div>
    </div>
}
