﻿@model Buddies.Models.LoginViewModel

@{
    ViewBag.Title = "Aanmelden";
}

<h2>@ViewBag.Title.</h2>
<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3>Maak gebruik van jouw persoonlijke gegevens om je aan te melden.</h3>
        @Html.ValidationSummary(true)

    <p>
        @Html.LabelFor(m => m.UserName, new { @class = "labels" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "inputs" })
        <span class="error">@Html.ValidationMessageFor(m => m.UserName)</span>
    </p>

    <p>
        @Html.LabelFor(m => m.Password, new { @class = "labels" })
        @Html.PasswordFor(m => m.Password, new { @class = "inputs" })
        <span class="error">@Html.ValidationMessageFor(m => m.Password)</span>
    </p>
        <p>
            @Html.CheckBoxFor(m => m.RememberMe)

            @Html.LabelFor(m => m.RememberMe)
        </p>
        <input type="submit" value="Aanmelden" class="button" />
        <h3>Nog geen lid?</h3>
        <p>
            @Html.ActionLink("Registreer", "Register") je nu op Buddies!
        </p>

    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}