﻿@model Buddies.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<p>Gebruik onderstaand formulier om je lid te maken van de tofste gemeenschap van het internet. 
Vind nieuwe vrienden, maak leuke uitstapjes en beleef de tofste momenten van jouw leven, en dat allemaal via jouw <b>unieke Buddies lidmaatschap!</b>    
</p>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Maak een nieuw account aan.</h4>
    @Html.ValidationSummary()
    <p>
        @Html.LabelFor(m => m.UserName, new { @class = "labels" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "inputs" })
    </p>
    <p>
        @Html.LabelFor(m => m.Password, new { @class = "labels" })
        @Html.PasswordFor(m => m.Password, new { @class = "inputs" })
    </p>
    <p>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "labels" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "inputs" })
    </p>
    
    <div class="form-group">    
        <input type="submit" class="button" value="Registreer mij!" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
