﻿/* Reset */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Body */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #FFFFFE;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

/*  Links */
a {
    text-decoration: none;
    border-bottom: 1px dotted #6abfa5;
}

/* Page layout */
#header {
    background-color: #6abfa5;
    background-image: url("logo.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 150px;
    border-bottom: 10px solid #ffffbe;
}

#mainNavigation {
    float: left;
    width: 250px;
    max-width: 15%;
}

#mainNavigation ul li {
    list-style-type: none;
    background: transparent;
    border-bottom: 1px solid #6abfa5;
}

/* Main navigation links */
#mainNavigation ul li a {
    display: block;
    padding: 10px;
    border: 0;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

#mainNavigation ul li a:hover {
    background: #6abfa5;
}

#mainContent {
    float: left;
    max-width: 70%;
    padding: 0 1em;
}

#sideBar {
    float: right;
    width: 15%;
    padding: 0 1em;
}

#footer {
    float: left;
    border-top: 1px solid #6abfa5;
    text-align: center;
    vertical-align: middle;
    padding: 25px 0;
    width: 100%;
    margin-top: 1em;
}

/*  Classes */
.button, input[type='submit'] {
    display: inline-block;
    padding: 10px 20px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #CC0000;
    color: #FFF !important;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

/* Errors */

.error {
    color: #cc0000;
    font-size: 12px;
}

.field-validation-error
{
    color: #ff0;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.field-summary-errors
{
    color: #356aa0;
}

.field-summary-valid
{
    display: none;
}

/* Classes */

.labels {
    display: block;
}

.inputs {
    border: 1px solid #DDD;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: inherit;
    padding: 6px;
}

.title {
    font-weight: bold;
}

.widget {
    margin-bottom: 1em;
}

.widget ul {
    list-style-type: none;
}

.noMargin {
    margin: 0 !important;
}
/*  Tags */
p {
    margin-bottom: 1em;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 70%;
    height: auto !important;
    -ms-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

h1,
h2,
h3,
h4 {
    color: #356aa0;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
}

ul, ol {
    margin-left: 2em;
}

/*  Links */
a:link {
    color: #333;
}

/* visited link */
a:visited {
    color: #333;
}

/* mouse over link */
a:hover {
    color: #333;
}

/* selected link */
a:active {
    font-weight: bold;
}

/* Typestuff */
.bold {
    font-weight: bold;
}

/* Table */
table {
    border-spacing: 6px;
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
}

.rightCell {
    padding-left: 1em;
}

tr:nth-child(odd) {
     background-color:#ddd;
}

tr:nth-child(even) {
     background-color:#fff;
}

th {
    background-color: #333333;
    color: #FFFFFF;
    padding: 5px;
}

.grid-cell {
    padding: 5px !important;
}

/* Classes */
.topmargin {
    margin-top: 1em;
}