﻿@model Buddies.Models.SearchValues

@{
    ViewBag.Title = "Buddies zoeken";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Search", "Search")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Zoekcriteria</h4>
        <p>Door middel van de onderstaande velden kan je op zoek gaan naar jouw buddies. Daarnaast kan je ook hun profiel bekijken en de persoon al een beetje beter leren kennen.</p>

        @Html.ValidationSummary()
        <p>
            @Html.LabelFor(m => m.UserName, "Gebruikersnaam", new { @class = "labels" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "inputs" })
        </p>
        <p>
            @Html.LabelFor(m => m.Geslacht, "Geslacht", new { @class = "labels" })
            @Html.DropDownListFor(m => m.Geslacht, Model.Geslacht, "Maak een selectie", new { @class = "inputs" })
        </p>

        <p>
            @Html.LabelFor(m => m.BurgerlijkeStaat, "Burgerlijke staat", new { @class = "labels" })
            @Html.DropDownListFor(m => m.BurgerlijkeStaat, Model.BurgerlijkeStaat, "Maak een selectie", new { @class = "inputs" })
        </p>

        <p>
            @Html.LabelFor(m => m.Landen, "Land van herkomst", new { @class = "labels" })
            @Html.DropDownListFor(m => m.Landen, Model.Landen, "Maak een selectie", new { @class = "inputs" })
        </p>

        <p>
            @Html.LabelFor(m => m.StudieNiveau, "Opleidingsniveau", new { @class = "labels" })
            @Html.DropDownListFor(m => m.StudieNiveau, Model.StudieNiveau, "Maak een selectie", new { @class = "inputs" })
        </p>

        <p>
            @Html.LabelFor(m => m.Beroep, "Beroep", new { @class = "labels" })
            @Html.TextBoxFor(m => m.Beroep, new { @class = "inputs" })
        </p>

        <p>
            @Html.LabelFor(m => m.Sterrenbeeld, "Sterrenbeeld", new { @class = "labels" })
            @Html.DropDownListFor(m => m.Sterrenbeeld, Model.Sterrenbeeld, "Maak een selectie", new { @class = "inputs" })
        </p>
        <div class="form-group">
            <input type="submit" class="button" value="Zoeken" />
        </div>
    </div>
}