﻿@using Buddies.Models
@using GridMvc.Html
@model Buddies.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zoekresultaten</h2>

@if (Model.Profiles.Count == 0)
{
    <p>Er zijn geen profielen die aan jouw criteria voldoen.</p>
}

else
{
    @Html.Grid(Model.Profiles).Columns(cols =>
    {
        cols.Add(c => c.UserName).Titled("Gebruikersnaam");
        cols.Add(c => c.Land).Titled("Land van herkomst");
        cols.Add()
            .Sanitized(false)
            .Encoded(false)
            .RenderValueAs(c => @Html.ActionLink("bekijk profiel", "Details", "Profile", new { id = c.UserID }, null));
    }).WithPaging(10)
}


