﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welkom op Buddies - @ViewBag.Title</title>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="container">
        <div id="header"></div>
        <div class="clearfix">
            <div id="mainNavigation">
                <ul class="noMargin">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Veelgestelde vragen", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacteer ons", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Validatie pagina", "Create", "Validation")</li>
                </ul>
            </div>
            <div id="mainContent">
                @RenderBody()
            </div>
            <div id="sideBar">
                <div id="loginBox">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <div id="footer">
                <p>&copy; @DateTime.Now.Year - Buddies</p>
            </div>
        </div>
    </div>

    @Styles.Render("http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.5/themes/black-tie/jquery-ui.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/mijnJavaScript")
    @RenderSection("scripts", required: false)
</body>
</html>
