﻿<div class="widget">
    <span class="title">Mijn buddies</span>
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="noMargin">
                <li>Hallo @User.Identity.GetUserName()</li>

                <li>
                    @Html.ActionLink("Profiel Bekijken", "Details", "Profile", new {id = @User.Identity.GetUserId()}, htmlAttributes: new {title = "Bekijken"})
                </li>
                <li>
                    @Html.ActionLink("Profiel Bewerken", "Edit", "Profile", new {id = @User.Identity.GetUserId()}, htmlAttributes: new {title = "Bekijken"})
                </li>
                <li>
                    @Html.ActionLink("Paswoord Aanpassen", "Manage", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Afmelden</a></li>
            </ul>
            <p class="topmargin">
                @Html.ActionLink("Buddies zoeken", "Index", "Search", routeValues: null, htmlAttributes: new {@class = "button", id = "registerLink"})
            </p>

            // ONLY ADMINS SEE THIS        
            if (User.IsInRole("Admin"))
            {
                <h3>Beheer</h3>
                <p class="topmargin">
                   @Html.ActionLink("Buddies beheren", "Index", "Administration", routeValues: null, htmlAttributes: new { id = "administratieLink" })
                </p>
            }
        }
    }
    else
    {
        <ul class="noMargin">
            <li>@Html.ActionLink("Aanmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>

        <p>
            @Html.Partial("_SubscribePartial")
        </p>

    }
</div>