﻿@using System.Activities.Expressions
<div class="widget">
    <span class="title">Registreren</span>
    <p>Kom in contact met de tofste mensen, het enige wat je nog moet doen is jezelf aanmelden.</p>
    @Html.ActionLink("Registreer", "Register", "Account", routeValues: null, htmlAttributes: new {@class = "button", id = "registerLink"})
</div>
